<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="../static/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="../static/vendor/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script> <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script> <![endif]-->
</head>
<body>

    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills">
                    <li class="">
                        <a href="index.html">Home</a>
                    </li>
                    <li class="">
                        <a href="setup.html">Camera</a>
                    </li>
                    <li class="active">
                        <a href="systemControl.html">System Control</a>
                    </li>
                </ul>
            </div>
        </div>
        <iframe src="" name="toDisplay" hidden="true"></iframe>
        <br>

        <div class="">
            <ul class="list-group">
                <li class="list-group-item"><a href="/api/system/shutdown">Shutdown</a></li>
                <li class="list-group-item"><a href="/api/system/reboot">Reboot</a></li>
                <li class="list-group-item"><a href="/api/system/restartServer">Restart the Server</a></li>
            </ul>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/vendor/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/vendor/bootstrap.min.js"></script>

</body>
</html>
